@import "tailwindcss";
@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --Dark-blue: #10151F;
  --Dark-blue-2: #3E424A;
}

@layer utilities {
  .text-darkblue {
    color: var(--Dark-blue);
  }
  .bg-darkblue {
    background-color: var(--Dark-blue);
  }
  .border-darkblue {
    border-color: var(--Dark-blue);
  }
  .text-darkblue-2 {
    color: var(--Dark-blue-2);
  }
  .bg-darkblue-2 {
    background-color: var(--Dark-blue-2);
  }
  .border-darkblue-2 {
    border-color: var(--Dark-blue-2);
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
